{% block stylesheets %}
    {# {{ encore_entry_link_tags('footer') }} #}
{% endblock %}
<nav class="navbar footer">
	<div class="col">
		<li class="nav-item">
			<h1 class="nav-link" tabindex="-1" aria-disabled="true">Rechercher</h1>
		</li>
		<li class="nav-item">
			<a class="nav-link" {#href="{{ path('event_index')}}"#} tabindex="-1" aria-disabled="true">Créer un événement</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('home')}}" tabindex="-1" aria-disabled="true">Trouver un événement</a>
		</li>
	</div>

	<div class="col">
		<li class="nav-item">
			<h1 class="nav-link" tabindex="-1" aria-disabled="true">Le Site</h1>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Qui sommes-nous ?</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Mentions Légales</a>
		</li>
	</div>

	
	<div class="col">
		<li class="nav-item">
			<h1 class="nav-link" tabindex="-1" aria-disabled="true">Mon Compte</h1>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_register')}}" tabindex="-1" aria-disabled="true">Inscription</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_login')}}" tabindex="-1" aria-disabled="true">Connexion</a>
		</li>
	</div>
</nav>
