{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Mail_user</th>
                <td>{{ user.mailUser }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password_user</th>
                <td>{{ user.passwordUser }}</td>
            </tr>
            <tr>
                <th>Name_user</th>
                <td>{{ user.nameUser }}</td>
            </tr>
            <tr>
                <th>Firstname_user</th>
                <td>{{ user.firstnameUser }}</td>
            </tr>
            <tr>
                <th>City_user</th>
                <td>{{ user.cityUser }}</td>
            </tr>
            <tr>
                <th>PostalCode_user</th>
                <td>{{ user.postalCodeUser }}</td>
            </tr>
            <tr>
                <th>Address_user</th>
                <td>{{ user.addressUser }}</td>
            </tr>
            <tr>
                <th>Birthday_user</th>
                <td>{{ user.birthdayUser ? user.birthdayUser|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Phone_user</th>
                <td>{{ user.phoneUser }}</td>
            </tr>
            <tr>
                <th>Picture_user</th>
                <td>{{ user.pictureUser }}</td>
            </tr>
            <tr>
                <th>Picture_user_check</th>
                <td>{{ user.pictureUserCheck ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Rank_user</th>
                <td>{{ user.rankUser }}</td>
            </tr>
            <tr>
                <th>Biography_user</th>
                <td>{{ user.biographyUser }}</td>
            </tr>
            <tr>
                <th>Story_user</th>
                <td>{{ user.storyUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
